<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SBTraning</title>
</head>
<body>
<h3>Get teapot by id</h3>
<form id="findButton" >
<p>ID: </p> <input id="findInput"/>
<button>Найти</button>
</form>

<div id ="feedback"></div>
<h3>Create teapot</h3>
<form id="create">
    <p>Type: </p> <input id="type"/>
    <p>Model: </p> <input id="model"/>
    <p>Color: </p> <input id="color"/>
    <p>Volume: </p> <input id="volume"/>
    <p>Power: </p> <input id="power"/>
    <button>Create</button>
</form>

<h3>Update teapot</h3>
<form id="update">
    <p>ID: </p> <input id="id"/>
    <p>Type: </p> <input id="typeUpdate"/>
    <p>Model: </p> <input id="modelUpdate"/>
    <p>Color: </p> <input id="colorUpdate"/>
    <p>Volume: </p> <input id="volumeUpdate"/>
    <p>Power: </p> <input id="powerUpdate"/>
    <button>Update</button>
</form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>